* {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    color: grey;
    text-transform: uppercase;
    margin-bottom: 5%;
}

body, main, .btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
body, main {flex-wrap: wrap;}


body {padding:5% 10%;}

button {padding: 5%;}

.btn-box {
    width: 150px;
    height: 200px;
    margin: 20px;
    border: 1px solid grey;
}


